<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to Odinbook, <%= @user.full_name %>!</p>
    <p>
    Feel free to like or comment on existing posts, or create a post of your own.
    </p>
  </body>
</html>
