<li class="list-group-item d-flex justify-content-between align-items-center text-bg-light">
  <small class="text-secondary">
    <% unless post.likes.empty? %>
      <%= pluralize(post.likes.count, 'like') %>
    <% end %>
  </small>

  <div class='btn-group'>
    <%= button_to post_likes_path(post), class: "btn btn-outline-secondary btn-sm" do %>
      <% if liked?(post, 'post', current_user) %>
        <i class="bi bi-hand-thumbs-up-fill"></i> Liked
      <% else %>
        <i class="bi bi-hand-thumbs-up"></i> Like
      <% end %>
    <% end %>
    
    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseCommentForm<%="#{post.id}"%>" aria-expanded="false" aria-controls="collapseCommentForm<%="#{post.id}"%>">
      <i class="bi bi-chat"></i> Comment
    </button>      
  </div>
</li>
