<div id="flash_alert">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, class: "alert alert-#{message_type} alert-dismissible fade show #{"alert-success" if message_type == 'notice'} #{"alert-warning" if message_type == 'alert'}") do %>
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% end%>
  <% end %>
</div>